.main-div {
    min-height: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: transparent;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid transparent;
  background-image: none;
}


/* Julien */

.imgPortFolio{
    background-image: url(./public/img/portfolio.jpeg);
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.carreOQ{
    max-width: 100%;
	height: 100px;
    background-image: url(./public/img/ordinateurQuantique.jfif);
    overflow: hidden;
}

.carreRH{
    max-width: 100%;
	height: 100px;
    background-image: url(./public/img/robotHumanoïde.jfif);
    overflow: hidden;
}

.carreNT{
    max-width: 100%;
	height: 100px !important;
    background-image: url(./public/img/nanoTechnologie.jfif);
    overflow: hidden;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: darkslategrey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: darkslategrey;
}

.carousel-item{
    margin-right: -83%;
}
