.main-div {
    min-height: 150px;
}



/* Julien */


/*CLEARFIX*/

.clearfix::after{
	content: '';
	clear: both;
	display: table;
}

.clearfix::before{
	content: "";
	display: table;
}


/*CONTAINER*/

.container{
	width: 1170px;
	margin: auto;
	position: relative;
}


/* image  */

#section{
	background-color: white;
}

#section .container > h1{
	text-align: center;
	color: black;
	font-size: 48px;
}

.image{
	float: left;
	margin-right: 2%;
	width: calc(94% / 4);
	text-align: center;
	padding: 1rem 2rem;
}

.image h1{
	font-size: 20px;
	margin-bottom: 0;
}

.image h2{
	font-weight: normal;
	font-size: 14px;
}

.image figure{
	width:100%;
	padding-top: 100%;
	margin: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.image:nth-child(1) figure{
	background-image: url('../images/image1.png');
}

.image:nth-child(2) figure{
	background-image: url('../images/image2.png');
}

.image:nth-child(3) figure{
	background-image: url('../images/image3.png');
}

.image:nth-child(4) figure{
	background-image: url('../images/image4.png');
}


.image:last-child{
	margin-right: 0%;
}


#section .container{
	padding: 45px 0;
}


/* Julien */
